src/phising_detection/data/phishing-links-ACTIVE.txt filter=lfs diff=lfs merge=lfs -text
src/phising_detection/data/legitimate-urls.txt filter=lfs diff=lfs merge=lfs -text
src/phising_detection/data/top-1m.csv filter=lfs diff=lfs merge=lfs -text
